.app {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.app_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 6vw 0;
  color: #000;

  h1 {
    font-size: 24px;
    margin-top: 0;
  }

  h2 {
    margin: 20px 0 18px;
  }

  h3 {
    font-weight: 500;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .artist-image {
    width: 64vw;
    height: 64vw;
    border-radius: 100%;
    object-fit: cover;
  }

  .artist__album {
    color: #000;

    .album-cover {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  .button_play {
    width: 64px;
    height: 64px;
    margin: 3px 0 20px;
    background: linear-gradient(225deg, #933AAF 0%, #E63C56 100%);
    border-radius: 100%;

    svg {
      width: 28px;
      height: 28px;
      margin-top: 3px;

      path {
        fill: #fff;
      }
    }

    &:hover path {
      fill: #fff;
    }
  }
}

.main,
.stars {
  flex-grow: 1;
  background: linear-gradient(180deg , #8da7ba, #25242c);
}

.stars {
  padding: 0 20px;

  h1 {
    font-size: 36px;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 16px;
  }
}

.stars__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 5px;
  grid-column-gap: 22px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.bg-gradient {
  //background: #4c4c4c;
  //background: linear-gradient(180deg , rgba(255, 255, 255, 0.02) 15%, #0e3c4a 75%);
}

.shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  opacity: 0.22;
  position: absolute;
  width: 100%;
  left: 0;
  top: 218px;
  bottom: 4vw;
  z-index: -1;
  pointer-events: none;
}

.login-links {
  display: flex;
  position: fixed;
  top: 10px;
  right: 25px;
  z-index: 2;

  a {
    display: flex;
    align-items: center;
    height: 34px;
    margin-right: 11px;
    font-size: 14px;
    //text-transform: uppercase;
    font-weight: 600;
    border-radius: 17px;
    padding: 0 12px;
  }
}

.link_login {
  background: #fff;
  color: #000;
}

.link_signup {
  background: #000;
  color: #fff;
}

.user {
  position: fixed;
  display: flex;
  align-items: center;
  top: 5px;
  right: 60px;
  font-weight: 600;
  z-index: 5;
}

.avatar {
  box-sizing: border-box;
  padding: 5px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: #6c6c6c;
  margin-left: 9px;
}
@media screen and (max-device-width: 667px) {
  .app {
    display: block;
    overflow: auto;
  }
}