.app {
  height: 100%;
  display: flex;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.bg-gradient {
  //background: #4c4c4c;
  //background: linear-gradient(180deg , rgba(255, 255, 255, 0.02) 15%, #0e3c4a 75%);
}

.shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  opacity: 0.22;
  position: absolute;
  width: 100%;
  top: 218px;
  bottom: 4.58vw; //59px;
  z-index: 1;
  pointer-events: none;
}

.sidebar {
  width: 13.5%; //16.1%; //220px;
  padding: 7.3vw 0 0 2.57vw;
  background: linear-gradient(180deg, #151B25 0%, #1C212B 100%);
  z-index: 1;

  a {
    color: #B4CFF2;
    padding: 0.56vw 0;
  }
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  margin: 1.1vw 0 1.9vw;
}

.logo {
  position: absolute;
  top: 0;
  left: 0.2vw;
}