@import './variables.scss';

.artist {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  //overflow-y: scroll;
  padding: 23px 0 0 6.16vw;

  h1 {
    margin: -0.35vw 0 0 -0.38vw;
  }
}

.artist__menu {
  position: relative;
  margin-top: 1.65vw;

  a {
    display: inline-block;
    margin-right: 40px;
    font-weight: 500;
    padding-bottom: 10px;

    &:hover {
      opacity: 1;
      //color: #3191FB;
    }
  }

  hr {
    border: none;
    height: 3px;
    width: 50px;
    margin: 0;
    background: #3191FB;
    transition: 0.3s ease-in-out;
  }
}

.artist__about {
  margin-top: 15px;
  max-width: 400px;
  line-height: 1.6;
}

.artist__albums {
  display: grid;
  width: 51.75%; //50%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 5px;
  grid-column-gap: 22px;
  margin: 30px 0 90px;
}

.artist__album {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 12px;
  //border-radius: 4px;
  //transition: all 0.2s ease-in-out;
  p {
    //opacity: 0.75;
  }

  &:hover {
    //transform: scale(1.04);
    //background: #333;
    p {
      opacity: 1;
    }
  }
}

.album__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album__title {
  margin-top: 3px;
  font-weight: 500;
}

.tracks {
  position: absolute;
  right: 2.8vw; //38px;
  top: 4.25vw;
}

.tracks__title {
  margin: 0 0 0.87vw 1.68vw;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 32.34vw; //442px;
  padding: 0.71vw 44px 0.71vw 1.68vw; //10px 44px 10px 23px;
  margin: 0.2vw 0;
  cursor: pointer;
  //background: rgba(67, 72, 80, 0.32);
  border-radius: 4px;

  &:hover {
    background: rgba(24, 30, 40, 0.310377);
    backdrop-filter: blur(13px); //27.1828px
  }
}

.track_active {
  background: rgba(24, 30, 40, 0.310377);
  backdrop-filter: blur(13px);
}

.track__title {
  font-weight: 600;
}

.track__album {
  font-size: $size-smaller;
  opacity: 0.7;
}

.track__time {
  font-size: $size-smaller;
}

.bars {
  display: none;
  //display: flex;
  align-items: flex-end;
  height: 30px;
}

.bar {
  margin-right: 1px;
  background: #EB4662;
  width: 3px;
  animation: sound 2s linear infinite alternate;

  &:nth-child(1) {
    animation-duration: 474ms;
  }

  &:nth-child(2) {
    animation-duration: 433ms;
  }

  &:nth-child(3) {
    animation-duration: 407ms;
  }

  &:nth-child(4) {
    animation-duration: 458ms;
  }
}
@keyframes sound {
  0% {
    height: 3px;
  }

  100% {
    height: 15px;
  }
}

.track_mobile {
  display: flex;
  width: 100%;
  margin-bottom: 18px;

  .track__title {
    font-size: 17px;
    font-weight: 500;
  }

  .track__album {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.4;
  }

  img {
    width: 52px;
    height: 52px;
    margin-right: 12px;
  }
}

.artist__albums_mobile {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
}