@import './variables.scss';

.progress__wrapper {
  cursor: pointer;
  padding: 5px 0;
}

.progress {
  height: 3px;
  background: rgba(161, 164, 178, 0.1708);
  border-radius: 3px;
}

.progress__inner {
  width: 50px;
  height: 100%;
  background: $main-color;
  border-radius: 3px;
  //transition: 0.1s ease-in-out;
}

.player_time {
  color: #737785;
  margin: 0 12px 0 11px;
}

.button {
  path {
    fill: #A1A4B2;
  }

  &:hover path {
    fill: #fff;
  }

  &:active path {
    fill: #A1A4B2;
  }
}

.button_activated {
  path {
    fill: $main-color;
  }

  &:hover path {
    fill: #529aff;
  }
}

.save {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10.1vw;
  padding: 0 17px 2px; //0 0.97vw 2px 1.18vw;
  height: 34px; //2.5vw;
  width: 164px;
  //border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 17px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(225deg, #933AAF 0%, #E63C56 100%);
  //transition: transform 0.1s ease-in;
  svg {
    margin-top: 1px;
  }

  &:hover {
    //transform: scale(1.02);
  }
}

.save_saved {
  background: #000;
  //border: none;
}

.login,
.signup {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: #000;
    font-size: 24px;
  }

  button {
    font-size: 16px;
    border-radius: 17px;
    border: none;
    padding: 8px 20px;
    color: #fff;
    margin-top: 14px;
    background: linear-gradient(225deg , #933AAF 0%, #E63C56 100%);
    margin-left: 10px 0;
    cursor: pointer;
  }

  input {
    font-size: 16px;
    margin: 6px 0;
    padding: 8px;
    width: 350px;
    border: 1px solid #777;
    border-radius: 3px;
  }
}

.login a {
  color: #000;
  background: #fff;
  border: solid 2px #000;
  font-size: 16px;
  border-radius: 17px;
  padding: 8px 20px;
  margin-top: 14px;
}

.error {
  color: red;
}