@import './variables.scss';

.progressBar__wrapper {
  cursor: pointer;
  padding: 5px 0;
}

.progressBar {
  height: 3px;
  background: #A1A4B2;
  border-radius: 3px;
}

.progressBar__inner {
  width: 50px;
  height: 100%;
  background: #3B8BFD;
  border-radius: 3px;
  transition: 0.1s ease-in-out;
}

.button {
  padding: 5px;
  cursor: pointer;

  svg path {
    //opacity: 0.5;
    fill: #A1A4B2;
  }

  &:hover svg path {
    fill: #fff;
  }
}

.save {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 161px;
  padding: 0 15px;
  height: 34px;
  width: 164px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 17px;
  cursor: pointer;
}

.save-saved {
  background: linear-gradient(225deg, #933AAF 0%, #E63C56 100%);
  border: none;
}

.search {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    margin-right: 13px;
  }
}

.search__results {
  position: absolute;
  top: 33px;
  background: #7d7d7dcf;
  padding: 12px;
  min-width: 200px;
  border-radius: 4px;
}