@import './variables.scss';

#root,
body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'AvenirNext', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: $size-regular;
  overflow: hidden;
}

input {
  font-family: 'AvenirNext', sans-serif;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: #fff;
  font-size: $size-regular;
  font-weight: 500;

  &::placeholder {
    color: #fff;
  }

  &:focus::placeholder {
    opacity: 0.5;
  }
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
  line-height: 1.46;
}

h1 {
  font-weight: 750;
  font-size: calc(clamp(32px, 6.57vw, 111px)); //6.57vw; //90px;
}

h2 {
  font-weight: 750;
  text-transform: uppercase;
  font-size: $size-smaller;
  letter-spacing: 0.08em;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'), url("../fonts/AvenirNextCyr-Regular.woff") format('woff');
}
@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNextBold'), url("../fonts/AvenirNextCyr-Bold.woff") format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNextDemi'), url("../fonts/AvenirNextCyr-Demi.woff") format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNextMedium'), url("../fonts/AvenirNextCyr-Medium.woff") format('woff');
  font-weight: 500;
}