@import './variables.scss';

.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.53vw; //62px;
  background: rgba(35, 34, 41, 0.93);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  padding: 0 13px;
  font-weight: 450;
  font-size: $size-small;
  z-index: 3;

  .button {
    padding: 15px;
  }
}

.button-play {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  //background: rebeccapurple;
  border: 1px solid #A1A4B2;
  padding: 0 !important;

  &:hover {
    border-color: #fff;
  }
}

.player__album-cover {
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  margin: 0 16px 0 0;
}

.player__track-info {
  margin-left: 50px;
  width: 150px;
}

.player__track {
  font-size: $size-smaller;
  font-weight: 600;
}

.player__artist {
  font-size: $size-small;
  color: #A1A4B2;
}

.player_red {
  background: linear-gradient(182deg, rgba(147,58,175, 0.9) 0%, rgba(230,60,86, 0.9) 100%);
  filter: drop-shadow(0px -5px 43px rgba(0, 0, 0, 0.31383));

  .progressBar {
    background: rgba(255, 255, 255, 0.3924);
  }

  .progressBar__inner {
    background: #fff;
  }
}