.sidebar {
  width: 13.5%; //16.1%; //220px;
  padding: 7.3vw 0 0 2.57vw;
  background: linear-gradient(180deg, #151B25 0%, #1C212B 100%);
  z-index: 1;

  a {
    color: #B4CFF2;
    padding: 0.56vw 0;

    &:hover {
      color: #fff;
    }
  }

  h2 {
    position: relative;
  }

  .button {
    position: absolute;
    top: 0;
    right: 15px;

    path {
      fill: #5E6E8C;
    }

    &:hover path {
      fill: #fff;
    }
  }
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  margin: 1.1vw 0 1.9vw;
}

.logo {
  position: absolute;
  top: 0;
  left: 0.2vw;
}

.playlist-link__tag {
  width: 7px;
  height: 7px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 7px;
  background: #83E163;
}