.sidebar {
  width: 13.55%;
  min-width: 124px;
  padding: 30px 0 0 2.57vw; //7.3vw
  background: linear-gradient(180deg, #151B25 0%, #1C212B 100%);
  z-index: 1;

  a {
    color: #B4CFF2;
    padding: calc(max(6px, 0.62vw)) 0;

    &:hover {
      color: #fff;
    }
  }

  h2 {
    position: relative;
  }

  .button {
    position: absolute;
    top: 0;
    right: 15px;

    path {
      fill: #5E6E8C;
    }

    &:hover path {
      fill: #fff;
    }
  }
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  margin: 1.07vw 0 1.9vw;
}

.logo {
  margin: 0 0 34.5px 1px;
}

.playlist-link {
  position: relative;
  padding: 8px 0;

  a {
    padding-left: 10px;
  }
}

.playlist-link__tag {
  pointer-events: none;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #83E163;
}