$size-regular: calc(clamp(14px, 1.02vw, 17px)); //1.02vw; // 14px;
$size-smaller: calc(clamp(13px, 0.95vw, 16px)); //0.95vw; //13px
$size-small: calc(clamp(12px, 0.87vw, 15px)); //0.87vw; //12px;
$main-color: #3B8BFD;