.progressBar__wrapper {
  cursor: pointer;
  padding: 5px 0;
}

.progressBar {
  height: 3px;
  background: #A1A4B2;
  border-radius: 3px;
}

.progressBar__inner {
  width: 50px;
  height: 100%;
  background: #3B8BFD;
  border-radius: 3px;
}

.button {
  padding: 5px;
  cursor: pointer;

  svg path {
    opacity: 0.5;
  }

  &:hover svg path {
    opacity: 1;
  }
}