.app {
  height: 100%;
  display: flex;
}

.bg {
  position: absolute;
  display: block;
  width: calc(100vw - 220px);
  height: 100vh;
  left: 220px;
  object-fit: cover;
  z-index: -1;
}

.bg-gradient {
  background: linear-gradient(180deg , rgba(255, 255, 255, 0.02) 15%, #0e3c4a 75%);
}

.shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  opacity: 0.22;
  position: absolute;
  width: 100%;
  top: 218px;
  bottom: 59px;
  z-index: 1;
  pointer-events: none;
}

.sidebar {
  width: 16.1%; //220px;
  background: linear-gradient(180deg , #151B25 0%, #1C212B 100%);
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 161px;
  height: 34px;
  width: 164px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 17px;
  cursor: pointer;
}