.app {
  height: 100%;
  display: flex;
}

.bg {
  position: absolute;
  display: block;
  width: calc(100vw - 220px);
  height: 100vh;
  left: 220px;
  object-fit: cover;
  z-index: -1;
}

.shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  opacity: 0.22;
  position: absolute;
  width: 100%;
  top: 218px;
  bottom: 59px;
  z-index: 1;
  pointer-events: none;
}

.sidebar {
  width: 220px;
  background: #151B25;
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 161px;
  height: 34px;
  width: 164px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 17px;
  cursor: pointer;
}

.tracks {
  position: absolute;
  right: 38px;
  top: 50px;
}

.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 62px;
  background: #03070F;
  opacity: 0.9235;
  display: flex;
  align-items: center;
  padding: 0 13px;
  z-index: 3;
}

.player__album-cover {
  margin: 0 16px 0 0;
}

.player__track-info {
  width: 150px;
}

.player__track {
  font-size: 13px;
  font-weight: 600;
}

.player__artist {
  font-size: 12px;
}

.player_red {
  background: linear-gradient(182deg, rgba(147,58,175, 0.9) 0%, rgba(230,60,86, 0.9) 100%);
  filter: drop-shadow(0px -5px 43px rgba(0, 0, 0, 0.31383));

  .progressBar {
    background: rgba(255, 255, 255, 0.3924);
  }

  .progressBar__inner {
    background: #fff;
  }
}

.player__buttons {
  width: 100px;
}

.player__oval {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    pointer-events: none;
  }

  svg {
    margin: 1px 0 0 1px;
  }
}