html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'AvenirNext', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 14px;
}

p {
  margin: 0;
  line-height: 1.46;
}

h1 {
  font-weight: 750;
  font-size: 90px;
  margin: 10px 0;
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNext'), url(./fonts/AvenirNextCyr-Regular.woff) format('woff');
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNextBold'), url(./fonts/AvenirNextCyr-Bold.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNextDemi'), url(./fonts/AvenirNextCyr-Demi.woff) format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'AvenirNext';
  src: local('AvenirNextMedium'), url(./fonts/AvenirNextCyr-Medium.woff) format('woff');
  font-weight: 500;
}